* {
  margin: 0;
  padding: 0;
}

body {
  border-top: 10px solid #1098ad;
  font-size: 22px;
  font-family: sans-serif;
}

.body-wrapper {
  width: 800px;
  margin: 0px auto;
}

.header {
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.title {
  color: #1098ad;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
}

.bg {
  font-size: 20px;
  margin-top: 10px;
}

.nav {
  color: #1098ad;
  margin-right: 20px;
}

.blog-title {
  margin-top: 50px;
  font-size: 40px;
  color: #1098ad;
}

.profile-picture {
  height: 50px;
  margin-top: 40px;
}

.posted-by {
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
}

.post-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

h3 {
  color: #1098ad;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

.images {
  width: 75px;
  height: 75px;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #1098ad;
}

a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.aside {
  background-color: #f7f7f7;
  width: 300px;
  padding: 50px;

  border-bottom: 5px solid #1098ad;

  border-top: 5px solid #1098ad;
}

/* 
inline
block
inline-block
*/

.images {
  display: block;
}

.related-posts-ul {
  list-style: none;
}
